@charset "UTF-8";

body {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    gap: 20px;
    align-items: center;
}

input[type = text] {
    padding: 10px 10px;
}

ul {
    list-style-type: decimal;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

button, #file-upload-button {
    cursor: pointer;
}