* {
    overflow-x: hidden;
}

nav::-webkit-scrollbar {
    overflow: hidden;
    height: 0;
    width: 0;
}

div#itens {
    overflow: hidden;
}

@keyframes move {
    from {
        position: absolute;
        right: -100%;
    }

    to {
        position: absolute;
        right: 0%;
    }
}

@keyframes nomove {
    from {
        position: absolute;
        right: 0%;
    }

    to {
        position: absolute;
        right: -100%;
    }
}